.slider-section-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  justify-content: center;
}

.slides-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 18px;
}

.buttons-slider {
  display: flex;
  column-gap: 32px;
  margin-left: auto;
  margin-right: auto;
}

#prevBtn,
#nextBtn {
  display: none;
  min-width: 100px;
  height: 42px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 100px;
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: color 250ms ease-out, background-color 250ms ease-out;
}

#prevBtn:hover,
#prevBtn:focus,
#nextBtn:hover,
#nextBtn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

#prevBtn:disabled,
#nextBtn:disabled {
  cursor: not-allowed;
  color: rgba(17, 17, 17, 0.3);
  border: 1px solid rgba(17, 17, 17, 0.3);
}

#prevBtn:disabled:disabled:hover,
#nextBtn:disabled:disabled:hover {
  cursor: not-allowed;
  background-color: var(--secondary-color);
  color: rgba(17, 17, 17, 0.3);
}

@media screen and (min-width: 768px) {
  #prevBtn,
  #nextBtn {
    display: inline-block;
  }
}
